:root {
    --color-1: #F4E8D2;
    --color-2: #0D7043;
    --color-3: #1F1F21;
    --color-4: #722452;
    --color-5: #B52B3B;
    --color-6: #762A34;
    --color-7: #EFA03D;
    --color-8: #606B45;
    --color-9: #4B2C31;
    --color-10: #5A9F9A;
    --color-11: #217771;
    --color-12: #EA5A31;
    --color-13: #BBB9A5;
    --color-14: #34263A;
    --color-15: #94B94B;
    --color-16: #6B534F;
    --color-17: #914F39;
    --color-18: #D63F33;
    --color-19: #EBAFA3;
    --color-20: #46985B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura', 'Montserrat', 'Inter', sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;

}

body {
    font-family: "Monaco", monospace;
    background: #5A9F9A;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
}

main {
    position: relative;
    z-index: 30;
    box-sizing: border-box;
    padding: 20px 40px;
    padding-bottom: 90px;
    min-height: calc(100vh - 140px - 70px);
    margin-right: 80px;
}

h1 {
    margin-top: 50px;
}

.layout {
    display: grid;
    grid-template-columns: 35% 1fr 80px;
    height: 100vh;
}

.left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.content-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}



.name-group {
    position: fixed;
    top: 40px;
    transform: translateX(40px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    pointer-events: none;
}

.name-tag {
    position: relative;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bolder;
    font-family: "Impact", "fantasy", sans-serif;
    color: #151418;
    z-index: 2;
}

.tagline {
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    margin: 0;
    z-index: 1;
}

#rocket-path {
    stroke: white;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 100vh;
    stroke-dashoffset: 100vh;
    transition: stroke-dashoffset 0.1s linear;
    stroke-linecap: round;
    z-index: 1;
}

#rocket-path-svg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#scroll-rocket-container {
    position: fixed;
    right: 20px;
    top: 0;
    height: 100vh;
    width: 40px;
    pointer-events: none;
    z-index: 50;
}

#rocket {
    position: absolute;
    left: 5px;
    width: 30px;
    transition: transform 0.1s linear;
    z-index: 100;
    transform: translateY(0);
    will-change: transform;
}

.rocket-stop.active {
    background: white;
    border-color: yellow;
}

.rocket-stop {
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    border-radius: 50%;
    background: #bbb;
    margin: 20px 0;
    transition: background 0.3s, border-color 0.3s;
}

.planets-svg {
    width: 100%;
    height: auto;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    justify-items: center;
}

.project-item {
    width: 100%;
    max-width: 500px;
    background: #9DBEBB;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;

    align-items: center;
    text-align: center;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.project-item:hover img {
    filter: brightness(1.2);
}

.connect-container {
    display: flex;
    gap: 24px;
}

.connect-item {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 24px;
}

.connect-item img {
    width: 32px;
    height: 32px;
}

.connect-item {
    background-color: #9DBEBB;
    border: 1px solid #ddd;
}

.connect-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.connect-item:hover img {
    filter: brightness(1.2);
}