* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Monaco", monospace;
    background-color: #9DBEBB;
    color: #333;
    line-height: 1.6;
}

header {
    background: #031926;
    color: #F4E9CD;
    padding: 30px;
    height: 140px;
    border-bottom: #9DBEBB 3px solid;
    text-align: center;
    position: sticky;
    top: 0;
    /* left: 0;
    right: 0; */
}

main {
    padding: 20px;
    background: #77ACA2;
    box-sizing: border-box;
    min-height: calc(100vh - 140px - 40px);
}

footer {
    background: #031926;
    color: #F4E9CD;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 40px;
    padding: 10px;
    border-top: #9DBEBB 3px solid;
}

/* Navigation styles */
nav {
    background: #468189;
    color: #F4E9CD;
    text-align: center;
    border-top: #9DBEBB 3px solid;
    border-bottom: #9DBEBB 3px solid;
}


nav ul {
    padding: 0;
    list-style: none;
    display: inline-block; 
}

nav li {
    display: inline;
    padding: 0 20px;
}

nav a {
    color: #F4E9CD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    background-color: #031926;
    color: #77aaff;
}

.topnav {
    background: #333;
    color: #fff;
    /* position: fixed;
    right: 0;
    left: 0; */
    padding: 10px 0;
    text-align: center;
}

.active {
    background-color: #031926;
    color: #F4E9CD;
}

h1, h2, h3 {
    color: #F4E9CD;
}